/* VITE ONLY: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primeicons/primeicons.css';
@import 'primereact/resources/themes/lara-light-blue/theme.css';
html {
    font-size: 14px;
}

